body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: flex;
  max-width: 1128px;
  height: 648px;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image:hover {
  transform: scale(1.05);
  box-shadow: 1px 6px 4.5px -1.5px #dddddd;
}
